.kebab-menu-trigger {
  text-align: center;
  width: 1.5rem;
  cursor: pointer;
  color: var(--icon-color);

  &.opened,
  &:hover,
  &:focus-visible {
    .m-icon {
      color: var(--icon-hover-color);
    }
  }
}
