.page {
    width: 100%;
    height: 100%;

    padding: 2rem;

    overflow: auto;

    &.flex {
        display: flex;
    }

    &.center {
        justify-content: center;
        align-items: center;
    }

    &.align {
        align-items: center;
    }

    &.justify {
        justify-content: center;
    }

    &.flex-column {
        flex-direction: column;
    }

    &.flex-row {
        flex-direction: row;
    }
}
