.products-list-item {
  display: flex;
  align-items: center;
  gap: var(--spacing-2);

  border-radius: var(--radius-base);
  padding: var(--btn-padding);
  padding-right: var(--spacing-1);
  border: 0 solid transparent;
  border-left-width: 2px;
  border-right-width: 2px;

  &:has(.kebab-menu-trigger.opened),
  &:hover {
    background-color: var(--background-color);

    span {
      color: var(--primary-text-color_300);
    }

    .m-icon {
      color: var(--icon-hover-color);
    }
  }

  .m-icon {
    color: transparent;
  }

  span {
    color: var(--primary-text-color_200);
    font-size: var(--font-size-sm);
  }

  .kebab-menu-trigger {
    margin-left: auto;
  }
}
