.shopping-list-panel-toggle {
  &:has(.kebab-menu-trigger.opened),
  &:hover {
    .m-icon {
      color: var(--icon-hover-color);
    }
  }

  .m-icon {
    color: transparent;
  }

  .kebab-menu-trigger {
    margin-left: auto;
  }
}
