.profile-menu-header {
  display: flex;
  align-items: center;

  padding: var(--spacing-2);
  border-bottom: var(--border-sm) solid var(--grey-color-000);

  cursor: default;

  .avatar-container {
    --avatar-size: 50px !important;
  }

  h3 {
    margin-left: var(--spacing-2);
    white-space: nowrap;
  }
}
