.mobile-notifications {
  .mobile-notifications-list {
    display: flex;
    flex-direction: column;
    align-items: center;

    padding: unset;
    margin-top: var(--spacing-12);

    .buttons-container {
      display: flex;
      gap: 1px;

      width: fit-content;

      background-color: var(--grey-color-000);
      border-radius: var(--radius-2xl);
      margin-bottom: var(--spacing-8);

      button {
        width: 175px;
        padding: var(--spacing-3);
        border: unset;

        background-color: var(--primary-color_780);
        color: var(--primary-text-color_400);
        font-size: var(--font-size-xl);
        font-weight: var(--font-weight-semibold);

        &:first-of-type {
          border-top-left-radius: var(--radius-lg);
          border-bottom-left-radius: var(--radius-lg);
        }

        &:last-of-type {
          border-top-right-radius: var(--radius-lg);
          border-bottom-right-radius: var(--radius-lg);
        }

        &.selected {
          background-color: var(--primary-color_560);
        }

        &:not(.selected):hover {
          background-color: var(--primary-color_600);
        }
      }
    }

    .mobile-notification-item {
      display: flex;
      align-items: center;

      width: 375px;
      padding: var(--spacing-4) var(--spacing-3);
      margin-bottom: var(--spacing-3);
      border-radius: var(--radius-lg);

      background-color: var(--grey-color-450);

      .avatar-container {
        min-width: 3rem;
      }

      span {
        display: -webkit-box;
        font-size: var(--font-size-xl);
        font-weight: var(--font-weight-semibold);
        line-clamp: 2;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
        overflow: hidden;

        margin-left: var(--spacing-2);
      }
    }
  }
}
