.auth-from-container {
  .auth-card {
    padding: unset;
    width: 640px;
  }

  .m-grid-col {
    padding: var(--spacing-10) var(--spacing-7);
    width: 100%;

    &.left-col {
      &.col-flex-md-1 {
        padding-bottom: var(--spacing-5);
      }

      p,
      span {
        font-size: var(--font-size-sm);
      }

      > p {
        margin-bottom: var(--spacing-5);
      }

      .m-form {
        .m-button {
          width: 100%;
          margin: unset;
          margin-top: 0.35em;
        }
      }

      .bottom-section {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        span {
          text-align: center;
          margin-top: var(--spacing-4);
          margin-bottom: var(--spacing-5);
        }

        .google-sign-in-icon {
          padding: var(--spacing-3);
          border-radius: var(--radius-full);
          background-color: var(--grey-color-550);
          transition: var(--transition-duration-fast);

          &:hover {
            background-color: var(--grey-color-500);
          }

          &:active {
            transform: scale(0.9);
          }
        }
      }
    }

    &.right-col {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      background-color: var(--primary-color_740);

      &.col-flex-md-1 {
        min-height: 380px;
      }

      svg {
        font-size: 3.75rem;
        color: var(--grey-color-000);
      }

      h2 {
        margin: var(--spacing-2);
        color: var(--grey-color-000);
      }

      > p {
        margin-bottom: var(--spacing-4);
        font-size: var(--font-size-sm);
        color: var(--grey-color-000);
      }

      .m-button {
        border-radius: var(--radius-2xl);
        padding: var(--spacing-1) var(--spacing-2);

        border-color: var(--grey-color-000);
        background-color: var(--primary-color_740) !important;

        &:hover {
          background-color: var(--grey-color-000) !important;

          p {
            color: var(--primary-color_740);
          }
        }

        p {
          color: var(--grey-color-000);
        }
      }
    }
  }
}
