.auth-from-container {
    display: flex;
    justify-content: center;
    align-items: center;

    height: inherit;
}

.auth-card {
    padding: unset;
    background-color: rgb(71, 71, 71) !important;
}

.auth-card .m-grid-col {
    width: 320px !important;
    padding: 40px 30px;
}

.auth-card .left-col p,
.auth-card .right-col p,
.auth-card .left-col span {
    font-size: 0.9rem;
}

/* ! Left col */
.auth-card .left-col p {
    margin-bottom: 20px;
}
.auth-card .left-col .m-form .m-button {
    width: 100%;
    margin: unset;
    margin-top: 0.35em;
}

.auth-card .left-col .bottom-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.auth-card .left-col .bottom-section span {
    text-align: center;
    margin-top: 15px;
    margin-bottom: 18px;
}

.auth-card .left-col .bottom-section .google-sign-in-icon {
    padding: 10px;
    border-radius: 100%;
    background-color: var(--dark-grey_250);
    transition: 100ms;
}

.auth-card .left-col .bottom-section .google-sign-in-icon:hover {
    background-color: var(--dark-grey_150);
}

.auth-card .left-col .bottom-section .google-sign-in-icon:active {
    transform: scale(0.9);
}

/* ! Right col */
.auth-card .right-col {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: var(--primary-color_200);
}

.auth-card .right-col svg {
    font-size: 3.75rem;
    color: var(--white);
}

.auth-card .right-col h2 {
    margin: 8px;
}

.auth-card .right-col p {
    margin-bottom: 15px;
}

.auth-card .right-col .m-button {
    border-radius: 16px;
    padding: 3px 8px;

    border-color: var(--white) !important;
    background-color: var(--primary-color_200) !important;
    color: var(--white) !important;
}

.auth-card .right-col .m-button:hover {
    background-color: var(--white) !important;
    color: var(--primary-color_200) !important;
}
