.friends-page-request-side-panel {
  width: 375px;
  border-left: 1px solid var(--primary-text-color_200);

  h3 {
    margin-top: var(--spacing-6);
    margin-bottom: var(--spacing-3);
  }
}

.friends-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .top-section-container {
    display: flex;

    width: 90%;

    align-items: center;

    gap: var(--spacing-2);
    margin-bottom: var(--spacing-4);
  }
}

@media (min-width: 650px) {
  .friends-page {
    .top-section-container {
      min-width: 350px;
      width: unset;
    }
  }
}
