.header {
    position: relative;
    display: flex;
    justify-content: space-between;

    height: var(--header-height);

    background-color: var(--primary-color_300);
    border-bottom: 1px solid var(--white);

    z-index: 3;

    h1 {
        display: flex;
        align-items: center;
        height: inherit;

        margin-left: 1rem;
        cursor: pointer;
    }
}
