.header {
  position: relative;
  display: flex;

  height: var(--header-height);

  background-color: var(--primary-color_640);
  border-bottom: var(--border-sm) solid var(--grey-color-000);

  z-index: 1;

  h1 {
    display: flex;
    align-items: center;
    height: inherit;

    margin-left: var(--spacing-4);
    cursor: pointer;
  }
}
