.header {
    position: relative;
    display: flex;

    height: var(--header-height);

    background-color: var(--primary-color_680);
    border-bottom: 1px solid var(--grey-color-000);

    z-index: 1;

    h1 {
        display: flex;
        align-items: center;
        height: inherit;

        margin-left: 1rem;
        cursor: pointer;
    }
}
