.shopping-list-products-accordion {
  .shopping-list-products-accordion-section {
    .shopping-list-products-accordion-toggle {
      display: flex;
      align-items: center;
      font-size: var(--font-size-lg);
      font-weight: var(--font-weight-medium);

      .m-icon {
        &.fa-grip {
          opacity: 0;
          //   cursor: grab;
        }
      }

      .kebab-menu-trigger {
        margin-right: var(--spacing-2);
      }

      .m-button {
        padding: 0;
        height: 100%;
        aspect-ratio: 1 / 1;
      }
    }
  }
}
