.shopping-list-products-accordion {
  .shopping-list-products-accordion-section {
    .shopping-list-products-accordion-toggle {
      display: flex;
      align-items: center;
      font-size: var(--font-size-lg);
      font-weight: var(--font-weight-medium);

      .m-icon {
        &.fa-grip {
          opacity: 0;
          //   cursor: grab;
        }
      }

      .shopping-list-product-name {
        width: 100%;
      }

      .shopping-list-product-amount-details {
        width: fit-content;
        white-space: nowrap;
        margin: 0 var(--spacing-2);
      }

      .m-dropdown-menu-trigger-container {
        padding: var(--spacing-2);

        &:hover {
          .m-icon {
            color: var(--icon-hover-color);
          }
        }
      }

      .m-button {
        padding: 0;
        height: 100%;
        aspect-ratio: 1 / 1;
      }
    }
  }
}
