.friend-requests-container {
    display: flex;
    flex-direction: column;

    height: 100%;
    gap: 0.5rem;
    padding-right: 0.5rem;

    overflow: auto;

    .friend-request {
        display: flex;
        align-items: center;
        justify-content: space-between;

        padding: 0.5rem;
        border-radius: var(--border-radius);

        background-color: var(--primary-color_100);

        .left-section {
            display: flex;
            align-items: center;

            .avatar-container {
                --avatar-size: 45px;
                margin-right: 0.5rem;
            }
        }

        .right-section,
        .decline-icon {
            display: flex;
            align-items: center;

            .confirm-icon,
            .decline-icon {
                width: 30px;
                height: 30px;
                background-color: var(--white);
                border-radius: 100%;

                transition: 0.2s;

                &:hover {
                    transform: scale(0.9);
                }
            }

            .confirm-icon {
                margin-right: 0.5rem;
                color: var(--success-color);
            }

            .decline-icon {
                color: var(--failure-color);
            }
        }
    }
}
