.settings-section {
  .settings-section-subtitle {
    margin-top: var(--spacing-1);
    margin-bottom: var(--spacing-4);

    font-size: var(--font-size-sm);
  }

  hr {
    margin: var(--spacing-8) var(--spacing-0);
  }

  &:last-of-type {
    hr {
      display: none;
    }
  }
}
