.page-tile-view {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    padding: 20vh 20vw;
    gap: 2vw;

    .page-tile {
        display: flex;
        align-items: center;
        justify-content: center;

        --width: max(min(12vw, 18vh), 190px);
        width: var(--width);
        height: var(--width);

        .page-tile-content {
            display: flex;
            align-items: center;
            justify-content: end;
            flex-direction: column;

            width: inherit;
            aspect-ratio: 1 / 1;
            padding: 1rem 1rem 1.25rem 1rem;

            border-radius: 6px;
            background-color: var(--primary-color_250);
            font-weight: 600;
            font-size: 1.7rem;
            text-transform: uppercase;

            color: var(--white);

            transition: 0.1s;

            &:hover {
                background-color: var(--primary-color_600) !important;
                transition: 0.2s;
            }

            &:active {
                transform: scale(0.95);

                background-color: var(--primary-color_600) !important;
            }

            p {
                display: flex;
                align-items: flex-end;
                height: 50%;
                padding-bottom: 0.75rem;

                line-height: 26px;

                text-align: center;
                white-space: normal;
            }

            .tile-icon,
            .tile-icon-placeholder {
                box-sizing: border-box;

                height: 50%;
                padding-top: 0.5rem;
            }
        }
    }
}
