.header {
  .mobile-buttons-container {
    display: flex;
    margin-left: auto;

    .open-notifications-btn,
    .open-menu-btn {
      position: relative;

      display: flex;
      justify-content: center;
      align-items: center;

      height: 100%;
      aspect-ratio: 1 / 1;
      transition: var(--transition-duration-fast);

      svg {
        height: 50%;
        margin: unset;
        color: var(--grey-color-000);
      }

      &:hover {
        background-color: var(--primary-color_600);
      }
    }
  }

  .open-notifications-btn {
    margin-left: auto;

    .notifications-count {
      top: 0.25rem;
      right: 0.75rem;
      position: absolute;

      display: flex;
      align-items: center;
      justify-content: center;

      height: 1rem;
      width: 1rem;
      line-height: var(--line-height-tight);
      font-size: var(--font-size-sm);

      background-color: var(--failure-light-color);
      color: var(--grey-color-000);
      border-radius: var(--radius-full);
    }
  }
}

.mobile-notifications,
.mobile-menu {
  --mobile-menu-height: calc(100% - var(--header-height));

  position: absolute;
  display: flex;
  flex-direction: column;

  height: var(--mobile-menu-height);
  width: 100vw;
  background-color: var(--grey-color-575);

  transition: var(--transition-duration-normal);
  overflow-y: auto;

  &.closing,
  &.mounted {
    top: calc(var(--mobile-menu-height) * -1);
  }

  &.opened {
    top: var(--header-height);
  }
}
