.friends-page {
    .m-textfield-container {
        width: 250px;
    }

    .m-grid-row {
        gap: 1.25rem;
        width: 90%;
        height: calc(100% - 9rem);

        .m-grid-col {
            height: 100%;
            padding: 0.5rem;
            padding-right: unset;
            border-radius: var(--border-radius);

            background-color: var(--grey-color-575);
            box-shadow: 0 0 6px 3px var(--primary-color_780);
        }
    }

    .placeholder-container {
        .placeholder {
            &.transparent-spinner-placeholder {
                margin: -0.5rem 0 0 -0.5rem;
                width: calc(100% + 0.5rem);
                height: calc(100% + 1rem);
                border-radius: var(--border-radius);
            }
        }
    }
}

@media (min-width: 650px) {
    .friends-page {
        .m-grid-row {
            width: 65%;
        }
    }
}

@media (max-width: 950px) {
    .friends-page {
        .m-grid-row {
            flex-wrap: nowrap;
            flex-direction: column-reverse;

            .m-grid-col:first-of-type {
                max-height: calc(72.5% - 1rem);
            }

            .m-grid-col:last-of-type {
                max-height: 27.5%;
            }
        }
    }
}

@media (min-width: 950px) {
    .friends-page {
        .m-grid-row {
            width: 90%;
        }
    }
}

@media (min-width: 1650px) {
    .friends-page {
        .m-grid-row {
            width: 80%;
        }
    }
}

@media (min-width: 1921px) {
    .friends-page {
        .m-grid-row {
            width: 77.5%;
        }
    }
}

@media (min-width: 2561px) {
    .friends-page {
        .m-grid-row {
            width: 70%;
        }
    }
}
