.avatar-container {
  --avatar-size: var(--spacing-12);

  display: flex;
  justify-content: center;

  height: var(--avatar-size);
  height: var(--avatar-size);

  min-width: var(--avatar-size);
  min-width: var(--avatar-size);

  border-radius: var(--radius-full);

  background-color: var(--popups-background-color);

  svg {
    height: 60%;

    color: var(--primary-color_680);
    margin-top: 50%;

    transform: translateY(-60%);
  }

  img {
    height: inherit;
    width: inherit;
    border-radius: inherit;
  }
}
