.avatar-container {
  --avatar-size: var(--spacing-12);

  display: flex;
  justify-content: center;

  height: var(--avatar-size);
  width: var(--avatar-size);

  border-radius: var(--radius-full);

  background-color: var(--popups-background-color);

  svg {
    height: 60%;
    color: var(--primary-color_680);
    margin-top: 15%;
  }

  img {
    height: inherit;
    width: inherit;
    border-radius: inherit;
  }
}
