body {
    margin: unset;
}

.page-container {
    width: 100vw;
    height: calc(100% - var(--header-height));
}

.page-container.centered {
    display: flex;
    justify-content: center;
    align-items: center;
}
