@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap");

:root {
    --header-height: 55px;
}

body {
    margin: unset;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

* {
    font-family: "Open Sans", sans-serif;
    box-sizing: border-box;
}

p,
h1,
h2,
h3,
span {
    margin: unset;
    color: var(--white);
}
