@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap");

:root {
    --header-height: 55px;
}

body {
    margin: 0;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

* {
    font-family: "Open Sans", sans-serif;
    box-sizing: border-box;
}

p,
h1,
h2,
h3,
span {
    margin: unset;
    color: var(--white);
}

*::-webkit-scrollbar {
    width: 8px;
    height: 12px;
}

*::-webkit-scrollbar-track {
    background-color: transparent;
    width: 8px;
}

*::-webkit-scrollbar-thumb {
    border-radius: 4px;
    width: 8px;
    background-color: var(--primary-color_50);
}

.unselectable {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */
}
