.page-404-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  svg {
    font-size: var(--font-size-6xl);
  }

  h3 {
    color: var(--primary-text-color_400);
    margin: var(--spacing-4) 0;
  }

  .m-button {
    margin-right: unset;
  }
}
