.page-404-container {
  color: var(--primary-text-color_400);

  svg {
    font-size: var(--font-size-6xl);
  }

  h3 {
    color: inherit;
    margin: var(--spacing-4) 0;
  }

  .m-button {
    margin-right: unset;
  }
}
