.header {
    display: flex;
    justify-content: space-between;

    height: var(--header-height);

    background-color: var(--primary-color_300);
    border-bottom: 1px solid var(--white);
}

.header h2 {
    display: flex;
    align-items: center;
    height: inherit;

    margin-left: 1rem;
    cursor: pointer;
}

/* ! Main list classes */
.header-main-list {
    display: flex;
    list-style: none;

    height: 100%;
    margin: unset;
    padding: unset;
}

.header-main-list .list-item {
    width: fit-content;
    height: inherit;
}

.header-main-list .list-item p {
    white-space: nowrap;
}

.header-main-list .list-item {
    color: var(--white);
    font-weight: 600;

    transition: 0.35s;
    cursor: pointer;
}

.header-main-list .list-item:hover {
    background-color: var(--primary-color_600);
}

.header-main-list .list-item:active {
    background-color: var(--primary-color_600);
    transition: 0.1s;
}

.header-main-list .list-item .list-item-content {
    display: flex;
    justify-content: start;
    align-items: center;

    width: 100%;
    height: 100%;
    padding: 0 0.75rem;

    transition: 0.1s;
}

.header-main-list .list-item .list-item-content:active {
    transform: scale(0.925);
}

.header-main-list .list-item.disabled {
    display: none;
}

/* ! Sub list classes */
.header-sub-list {
    position: absolute;

    width: fit-content;
    padding: unset;
    margin: unset;

    list-style: none;

    background-color: var(--primary-color_300);
}

.header-sub-list .list-item {
    width: 100%;
    height: 36px;

    color: var(--white);
    font-weight: 600;

    transition: 0.35s;
    cursor: pointer;
}

.header-sub-list .list-item p {
    white-space: nowrap;
}

.header-sub-list .list-item:hover {
    background-color: var(--primary-color_600);
}

.header-sub-list .list-item:active {
    background-color: var(--primary-color_600);
    transition: 0.1s;
}

.header-sub-list .list-item .list-item-content {
    display: flex;
    justify-content: start;
    align-items: center;

    width: 100%;
    height: 100%;
    padding: 0 0.75rem;

    transition: 0.1s;
}

.header-sub-list .list-item .list-item-content:active {
    transform: scale(0.925);
}

.header-sub-list .list-item.disabled {
    display: none;
}

/* ! Common */
.header-main-list .list-item,
.header-sub-list .list-item {
    position: relative;
}

.header-main-list .list-item .icon,
.header-sub-list .list-item .icon {
    width: 23px;
    height: 23px;
    padding: 0 0.5rem 0 0;
}

.header-sub-list .list-item .icon.arrow-indicator {
    width: 12px;
    height: 12px;
    margin-left: auto;
    padding: unset;
}
